<!DOCTYPE html>
<html>
    <head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	</head>
    <body>
  	    <div class='row' >
  		    <div class="column" style="margin-right:50px" height=896 width=896>
  				<img src="/images/results/<%= body.image_name %>" onerror="this.src='/images/vin.png'" height=896 width=896>
  		    </div>
  			
  			<div class='column' >
				<div class="row">
					<div class="column">
						<div style="text-align: center"><img src="/images/vin.png" height=64 width=64></div>
						<form action='/upload' method='POST' enctype='multipart/form-data'>
							<input type="file" name='<%= cxr_field %>' />
							<button type='submit' >Chuẩn đoán</button>
						</form>
					</div>
				</div>
  				<div class=row>
					<table class='table'>
						<thead>
							<tr>
								<th>Bệnh</th>
								<th>Tỷ lệ</th>
							</tr>
						</thead>
						<tbody>
							<% for (d in body.result) {%>
								<tr>
									<th><%= d %></th>
									<th><%= (body.result[d] * 100).toFixed(2) %>%</th>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
  			</div>
		  </div>
	</body>
	
	
</html>
